html, body{
	margin: 0;
	height: 100vh;
	width: 100vw;
}

div, span{
	box-sizing: border-box;
}

#main{
	height: 100vh;
	width: 50vw;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	/*border: 3px solid red;*/
}

#title{
	font-size: 4rem;
	font-family: 'Turret Road', cursive;
	font-weight: bold;
	position: relative;
	top: 5%;
	width: 100%;
	display: block;
	text-align: center;
	/*border: 2px solid black;*/
}

#numberField{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	width: 75%;
	max-width: 300px;
	height: 5%;
	position: relative;
	top: 15vh;
	left: 50%;
	transform: translateX(-50%);
}

#stepList{
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	width: 100%;
	position: relative;
	top: 20%;
}

.stepItem{
	z-index: 2;
	width: 100%;
	transition-duration: .3s;
	transition-property: all;
	transition-timing-function: linear;
	cursor: pointer;
	margin-bottom: 10px;
}

.stepItem:hover, .stepItem:active{
	z-index: 2;
	font-size: 3.5rem;
	height: 15%;
	border-radius: 2px;
}

.stepSpan{
	z-index: 1;
	width: 50%;
	text-align: left;
}

.formulaSpan{
	z-index: 1;
	opacity: 0;
	float: right;
	margin-right: 3%;
}

@media only screen and (max-width: 568px) {
  /* For mobile phones: */
	#main{
		width: 90vw;
	}
  
	#numberField{
		width: 90%;
	}
	
	#stepList{
		font-size: 1.5rem;
	}
	
	.stepItem{
		margin-bottom: 20px;
	}
  
	.stepItem:hover, .stepItem:active{
		font-size: 2rem;
	}
}